params {
    input_glob = null
    outdir     = 'results'
}

/*
 * Base process config
 */
process {
    executor      = 'local'
    maxRetries    = 1
    errorStrategy = 'terminate'

    withName: 'CELLBENDER_REMOVE_BACKGROUND' {
        publishDir = [ path: "${params.outdir}/h5_files", mode: 'move', overwrite: true ]
    }
}

profiles {

    cpu {
        process.executor = 'local'
    }

    gpu {
        process.executor = 'local'

        withName: 'CELLBENDER_REMOVE_BACKGROUND' {
            // Make it use GPU
            env.CUDA_VISIBLE_DEVICES = '0'
        }
    }
}