params {
    input_glob = null
    outdir     = null
}

/*
 * Base process config
 */
process {
    executor      = 'local'
    maxRetries    = 1
    errorStrategy = 'terminate'

    withName: 'CELLBENDER_REMOVE_BACKGROUND' {
        publishDir = [ path: "${params.outdir}", mode: 'move', overwrite: true,
        saveAs: { file ->
        if (file.name.endsWith("_output_report.html")) {
            return "${sample_id}/cellbender_reports/${file.name}"
            }
            if (file.name.endsWith(".h5")) {
                return "${sample_id}/h5_files/${file.name}"
                }
                return null
                }
            ]
    }
}

profiles {

    cpu {
        process.executor = 'local'
    }

    gpu {
        process.executor = 'local'

        withName: 'CELLBENDER_REMOVE_BACKGROUND' {
            // Make it use GPU
            env.CUDA_VISIBLE_DEVICES = '0'
        }
    }
}